html
  head
    title= title
    link(rel='stylesheet', href='style.css')
    meta(name="viewport", content="width=device-width")
  body
  header
    h1= message 
  div(id='content')
    h1= "Your file was uploaded!" 
    img(src= image )
  a(href='/index') Go to your photos





